<!-- Main -->
    <div id="main">

        <!-- Header -->
            <header id="header">
                <h3>Responsive</h3>
            </header>

        <!-- Thumbnail -->
            <section id="thumbnails">
                <article>
                    <a class="thumbnail" href="https://picsum.photos/900"><img src="https://picsum.photos/900"></a>
                       <h2>foto 1</h2>
                    <p>descripción foto 1</p>
                </article>
                <article>
                  <a class="thumbnail" href="https://picsum.photos/901"><img src="https://picsum.photos/901"></a>
                      <h2>foto 2</h2>
                  <p>descripción foto 2</p>
                </article>
                  <article>
                  <a class="thumbnail" href="https://picsum.photos/902"><img src="https://picsum.photos/902"></a>
                       <h2>foto 3</h2>
                  <p>descripción foto 3</p>
                </article>
                 <article>
                  <a class="thumbnail" href="https://picsum.photos/903"><img src="https://picsum.photos/903"></a>
                       <h2>foto 4</h2>
                  <p>descripción foto 4</p>
                </article>
                <article>
                  <a class="thumbnail" href="https://picsum.photos/904"><img src="https://picsum.photos/904"></a>
                       <h2>foto 5</h2>
                  <p>descripción foto 5</p>
                </article>
             <article>
                  <a class="thumbnail" href="https://picsum.photos/905"><img src="https://picsum.photos/905"></a>
                    <h2>foto 6</h2>
                    <p>descripción foto 6</p>
                </article>
                 

        <!-- Footer -->
            <footer id="footer">
                <ul class="copyright">
                    <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
                </ul>
            </footer>

    </div>