<!-- Main -->
    <div id="main">

        <!-- Header -->
            <header id="header">
                <h1>Lens</h1>
                <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
            </header>

        <!-- Thumbnail -->
            <section id="thumbnails">
                <article>
                    <a class="thumbnail" href="https://picsum.photos/100"><img src="https://picsum.photos/100"></a>
                    <h2>Diam tempus accumsan</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </article>
                <article>
                  <a class="thumbnail" href="https://picsum.photos/200"><img src="https://picsum.photos/200"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
                  <article>
                  <a class="thumbnail" href="https://picsum.photos/300"><img src="https://picsum.photos/300"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
                 <article>
                  <a class="thumbnail" href="https://picsum.photos/400"><img src="https://picsum.photos/400"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
                <article>
                  <a class="thumbnail" href="https://picsum.photos/500"><img src="https://picsum.photos/500"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
             <article>
                  <a class="thumbnail" href="https://picsum.photos/600"><img src="https://picsum.photos/600"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
                  <article>
                  <a class="thumbnail" href="https://picsum.photos/700"><img src="https://picsum.photos/700"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
                  <article>
                  <a class="thumbnail" href="https://picsum.photos/800"><img src="https://picsum.photos/800"></a>
                    <h2>Vivamus convallis libero</h2>
                    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
                </article>
      

        <!-- Footer -->
            <footer id="footer">
                <ul class="copyright">
                    <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
                </ul>
            </footer>

    </div>